# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/../.idea/Automation.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/../.idea/modules.xml
/../.idea/vcs.xml
/.idea/vcs.xml
/../.idea/workspace.xml
/../.idea/Automation.iml
/../.idea/modules.xml
/report/20201120/TestReport_20201120_230202.html
/../.idea/vcs.xml
/../.idea/workspace.xml
